<section class="about-section text-center" id="about">
    <div class="container">
        <img class="img-fluid profile-image" src="assets/img/rktirtho.jpg" alt="" />
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4 mt-2">Rejaul Karim (Tirtho)</h2>
                <p class="text-white-50 text-justify">


                    To pursue a highly challenging career in the software industry and work
                    closely with a team of highly experienced professionals where my creative
                    initiative, ideas and a genuine enthusiasm would allow me to progress.
                    
                    Motivating people, leadership capacity, presentation ability, good in
                     team work, energetic, strong analytical and responsibility taking 
                     attitude.

                </p>
            </div>
        </div>

    </div>
</section>