<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Rejaul Karim</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Web Developer(Java) &amp; Mobile App Developer</h2>
            <a class="btn btn-primary js-scroll-trigger mx-2" href="#about">Hire Me</a>
            <a class="btn btn-secondary js-scroll-trigger mx-2" href="#about">
                <i class="fa fa-download mr-2"></i>Resume</a>
        </div>
    </div>
</header>
